# Node modules
/node_modules
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
/dist
/build
/tmp
/out-tsc
/.cache

# Environment files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# NestJS specific
/.nest
/.tsbuildinfo

# Optional: coverage
/coverage
