# =========================
# Node.js / NestJS / Angular
# =========================

# Node modules
/node_modules
/.pnp
.pnp.js

# Build output
/dist
/build
/out-tsc
/.nest

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Runtime data
/tmp
/.cache

# Environment files
.env
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Angular specific
/.angular
/angular.json
/.angular/cache
/*.tsbuildinfo

# Coverage
/coverage
/jest-coverage

# Misc
*.tsbuildinfo
*.swp
*.bak
